style.css
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 

  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

h2, h3{
text-align: center;
font-weight: bold;
}

.chicken{
  background-color: grey;
  padding: 10px 20px 10px;
 
}




@media (max-width: 767px) {

#collapsable-nav{
  background-color: white;
  border: 2px solid black;
}
#collapsable-nav hr{
  margin: 0;
  margin-top: 5px;
  border-top: 2px solid black;
}

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    text-align: center;
 }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
    
  }
  .chicken{
    margin-right: auto;
    margin-left: auto;
    width: 75%;
  }
  .navbar-nav{
    margin: 0;
  }


}